ReBus.Mobile/Service References/SubscriptionServiceReference/SubscriptionWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.128/SubscriptionWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ReBus.WebServices.WebServiceModel" />
  <xs:element name="BuySubscriptionForAllLines">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ReBus.WebServices.WebServiceModel" minOccurs="0" name="account" nillable="true" type="q1:AccountWebServiceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuySubscriptionForAllLinesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ReBus.WebServices.WebServiceModel" minOccurs="0" name="BuySubscriptionForAllLinesResult" nillable="true" type="q2:SubscriptionWebServiceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuySubscriptionForAllLinesWithStartDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ReBus.WebServices.WebServiceModel" minOccurs="0" name="account" nillable="true" type="q3:AccountWebServiceModel" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuySubscriptionForAllLinesWithStartDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ReBus.WebServices.WebServiceModel" minOccurs="0" name="BuySubscriptionForAllLinesWithStartDateResult" nillable="true" type="q4:SubscriptionWebServiceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuySubscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ReBus.WebServices.WebServiceModel" minOccurs="0" name="account" nillable="true" type="q5:AccountWebServiceModel" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ReBus.WebServices.WebServiceModel" minOccurs="0" name="lines" nillable="true" type="q6:ArrayOfLineWebServiceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuySubscriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ReBus.WebServices.WebServiceModel" minOccurs="0" name="BuySubscriptionResult" nillable="true" type="q7:SubscriptionWebServiceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuySubscriptionWithStartDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ReBus.WebServices.WebServiceModel" minOccurs="0" name="account" nillable="true" type="q8:AccountWebServiceModel" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ReBus.WebServices.WebServiceModel" minOccurs="0" name="lines" nillable="true" type="q9:ArrayOfLineWebServiceModel" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuySubscriptionWithStartDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ReBus.WebServices.WebServiceModel" minOccurs="0" name="BuySubscriptionWithStartDateResult" nillable="true" type="q10:SubscriptionWebServiceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewSubscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ReBus.WebServices.WebServiceModel" minOccurs="0" name="subscription" nillable="true" type="q11:SubscriptionWebServiceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewSubscriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ReBus.WebServices.WebServiceModel" minOccurs="0" name="RenewSubscriptionResult" nillable="true" type="q12:SubscriptionWebServiceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewSubscriptionWithStartDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ReBus.WebServices.WebServiceModel" minOccurs="0" name="subscription" nillable="true" type="q13:SubscriptionWebServiceModel" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewSubscriptionWithStartDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ReBus.WebServices.WebServiceModel" minOccurs="0" name="RenewSubscriptionWithStartDateResult" nillable="true" type="q14:SubscriptionWebServiceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveSubscriptins">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ReBus.WebServices.WebServiceModel" minOccurs="0" name="account" nillable="true" type="q15:AccountWebServiceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveSubscriptinsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ReBus.WebServices.WebServiceModel" minOccurs="0" name="GetActiveSubscriptinsResult" nillable="true" type="q16:ArrayOfSubscriptionWebServiceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ReBus.WebServices.WebServiceModel" minOccurs="0" name="account" nillable="true" type="q17:AccountWebServiceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ReBus.WebServices.WebServiceModel" minOccurs="0" name="GetHistoryResult" nillable="true" type="q18:ArrayOfSubscriptionWebServiceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryWithLimit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ReBus.WebServices.WebServiceModel" minOccurs="0" name="account" nillable="true" type="q19:AccountWebServiceModel" />
        <xs:element minOccurs="0" name="limit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryWithLimitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ReBus.WebServices.WebServiceModel" minOccurs="0" name="GetHistoryWithLimitResult" nillable="true" type="q20:ArrayOfSubscriptionWebServiceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextHistoryWithLimit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ReBus.WebServices.WebServiceModel" minOccurs="0" name="account" nillable="true" type="q21:AccountWebServiceModel" />
        <xs:element minOccurs="0" name="before" type="xs:dateTime" />
        <xs:element minOccurs="0" name="limit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextHistoryWithLimitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ReBus.WebServices.WebServiceModel" minOccurs="0" name="GetNextHistoryWithLimitResult" nillable="true" type="q22:ArrayOfSubscriptionWebServiceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewSubscriptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ReBus.WebServices.WebServiceModel" minOccurs="0" name="account" nillable="true" type="q23:AccountWebServiceModel" />
        <xs:element minOccurs="0" name="after" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewSubscriptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ReBus.WebServices.WebServiceModel" minOccurs="0" name="GetNewSubscriptionsResult" nillable="true" type="q24:ArrayOfSubscriptionWebServiceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateSubscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ReBus.WebServices.WebServiceModel" minOccurs="0" name="subscription" nillable="true" type="q25:SubscriptionWebServiceModel" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ReBus.WebServices.WebServiceModel" minOccurs="0" name="bus" nillable="true" type="q26:BusWebServiceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateSubscriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateSubscriptionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>