ReBus.Mobile/Service References/InformationServiceReference/InformationWebService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.128/InformationWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ReBus.WebServices.WebServiceModel" />
  <xs:import schemaLocation="http://192.168.1.128/InformationWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetGeneralInformation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeneralInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ReBus.WebServices.WebServiceModel" minOccurs="0" name="GetGeneralInformationResult" nillable="true" type="q1:GeneralInformationWebServiceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guid" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ReBus.WebServices.WebServiceModel" minOccurs="0" name="GetTicketResult" nillable="true" type="q3:TicketWebServiceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guid" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubscriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ReBus.WebServices.WebServiceModel" minOccurs="0" name="GetSubscriptionResult" nillable="true" type="q5:SubscriptionWebServiceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guid" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ReBus.WebServices.WebServiceModel" minOccurs="0" name="GetBusResult" nillable="true" type="q7:BusWebServiceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>