ReBus.Mobile/Service References/InformationServiceReference/InformationWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InformationWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.128/InformationWebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.128/InformationWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.128/InformationWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ReBus.WebServices.WebServiceModel" />
      <xsd:import schemaLocation="http://192.168.1.128/InformationWebService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInformationWebService_GetGeneralInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGeneralInformation" />
  </wsdl:message>
  <wsdl:message name="IInformationWebService_GetGeneralInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGeneralInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IInformationWebService_GetTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTicket" />
  </wsdl:message>
  <wsdl:message name="IInformationWebService_GetTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketResponse" />
  </wsdl:message>
  <wsdl:message name="IInformationWebService_GetSubscription_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubscription" />
  </wsdl:message>
  <wsdl:message name="IInformationWebService_GetSubscription_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IInformationWebService_GetBus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBus" />
  </wsdl:message>
  <wsdl:message name="IInformationWebService_GetBus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBusResponse" />
  </wsdl:message>
  <wsdl:portType name="IInformationWebService">
    <wsdl:operation name="GetGeneralInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IInformationWebService/GetGeneralInformation" message="tns:IInformationWebService_GetGeneralInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInformationWebService/GetGeneralInformationResponse" message="tns:IInformationWebService_GetGeneralInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IInformationWebService/GetTicket" message="tns:IInformationWebService_GetTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInformationWebService/GetTicketResponse" message="tns:IInformationWebService_GetTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubscription">
      <wsdl:input wsaw:Action="http://tempuri.org/IInformationWebService/GetSubscription" message="tns:IInformationWebService_GetSubscription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInformationWebService/GetSubscriptionResponse" message="tns:IInformationWebService_GetSubscription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBus">
      <wsdl:input wsaw:Action="http://tempuri.org/IInformationWebService/GetBus" message="tns:IInformationWebService_GetBus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInformationWebService/GetBusResponse" message="tns:IInformationWebService_GetBus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInformationWebService" type="tns:IInformationWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGeneralInformation">
      <soap:operation soapAction="http://tempuri.org/IInformationWebService/GetGeneralInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTicket">
      <soap:operation soapAction="http://tempuri.org/IInformationWebService/GetTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubscription">
      <soap:operation soapAction="http://tempuri.org/IInformationWebService/GetSubscription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBus">
      <soap:operation soapAction="http://tempuri.org/IInformationWebService/GetBus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InformationWebService">
    <wsdl:port name="BasicHttpBinding_IInformationWebService" binding="tns:BasicHttpBinding_IInformationWebService">
      <soap:address location="http://192.168.1.128/InformationWebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>