ReBus.Mobile.TicketCollector/Service References/TicketServiceReference/TicketWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TicketWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.128/TicketWebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.128/TicketWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.128/TicketWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ReBus.WebServices.WebServiceModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITicketWebService_BuyTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:BuyTicket" />
  </wsdl:message>
  <wsdl:message name="ITicketWebService_BuyTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuyTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketWebService_GetActiveTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveTicket" />
  </wsdl:message>
  <wsdl:message name="ITicketWebService_GetActiveTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketWebService_GetHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHistory" />
  </wsdl:message>
  <wsdl:message name="ITicketWebService_GetHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketWebService_GetHistoryWithLimit_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoryWithLimit" />
  </wsdl:message>
  <wsdl:message name="ITicketWebService_GetHistoryWithLimit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoryWithLimitResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketWebService_GetNextHistoryWithLimit_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNextHistoryWithLimit" />
  </wsdl:message>
  <wsdl:message name="ITicketWebService_GetNextHistoryWithLimit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNextHistoryWithLimitResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketWebService_GetNewTickets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewTickets" />
  </wsdl:message>
  <wsdl:message name="ITicketWebService_GetNewTickets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewTicketsResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketWebService_ValidateTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateTicket" />
  </wsdl:message>
  <wsdl:message name="ITicketWebService_ValidateTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateTicketResponse" />
  </wsdl:message>
  <wsdl:portType name="ITicketWebService">
    <wsdl:operation name="BuyTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketWebService/BuyTicket" message="tns:ITicketWebService_BuyTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketWebService/BuyTicketResponse" message="tns:ITicketWebService_BuyTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketWebService/GetActiveTicket" message="tns:ITicketWebService_GetActiveTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketWebService/GetActiveTicketResponse" message="tns:ITicketWebService_GetActiveTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketWebService/GetHistory" message="tns:ITicketWebService_GetHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketWebService/GetHistoryResponse" message="tns:ITicketWebService_GetHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoryWithLimit">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketWebService/GetHistoryWithLimit" message="tns:ITicketWebService_GetHistoryWithLimit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketWebService/GetHistoryWithLimitResponse" message="tns:ITicketWebService_GetHistoryWithLimit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNextHistoryWithLimit">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketWebService/GetNextHistoryWithLimit" message="tns:ITicketWebService_GetNextHistoryWithLimit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketWebService/GetNextHistoryWithLimitResponse" message="tns:ITicketWebService_GetNextHistoryWithLimit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewTickets">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketWebService/GetNewTickets" message="tns:ITicketWebService_GetNewTickets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketWebService/GetNewTicketsResponse" message="tns:ITicketWebService_GetNewTickets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketWebService/ValidateTicket" message="tns:ITicketWebService_ValidateTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketWebService/ValidateTicketResponse" message="tns:ITicketWebService_ValidateTicket_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITicketWebService" type="tns:ITicketWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuyTicket">
      <soap:operation soapAction="http://tempuri.org/ITicketWebService/BuyTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveTicket">
      <soap:operation soapAction="http://tempuri.org/ITicketWebService/GetActiveTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistory">
      <soap:operation soapAction="http://tempuri.org/ITicketWebService/GetHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoryWithLimit">
      <soap:operation soapAction="http://tempuri.org/ITicketWebService/GetHistoryWithLimit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextHistoryWithLimit">
      <soap:operation soapAction="http://tempuri.org/ITicketWebService/GetNextHistoryWithLimit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewTickets">
      <soap:operation soapAction="http://tempuri.org/ITicketWebService/GetNewTickets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateTicket">
      <soap:operation soapAction="http://tempuri.org/ITicketWebService/ValidateTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TicketWebService">
    <wsdl:port name="BasicHttpBinding_ITicketWebService" binding="tns:BasicHttpBinding_ITicketWebService">
      <soap:address location="http://192.168.1.128/TicketWebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>