ReBus.Mobile/Service References/AuthenticatoinServiceReference/AuthenticationWebService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ReBus.WebServices.WebServiceModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ReBus.WebServices.WebServiceModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2356/AuthenticationWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="AccountWebServiceModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Credit" type="xs:decimal" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUID" type="ser:guid" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountWebServiceModel" nillable="true" type="tns:AccountWebServiceModel" />
  <xs:complexType name="ArrayOfTransactionWebServiceModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionWebServiceModel" nillable="true" type="tns:TransactionWebServiceModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransactionWebServiceModel" nillable="true" type="tns:ArrayOfTransactionWebServiceModel" />
  <xs:complexType name="TransactionWebServiceModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionWebServiceModel" nillable="true" type="tns:TransactionWebServiceModel" />
</xs:schema>